@import '../../scss/colors.scss';

.side-bar-container {
    color: $white;
    position: fixed;
    width: 5rem;
    height: 100vh;
    background: $secondary;
}

.side-bar-grid-container {
    display: grid;
    width: 100%;
    grid-template-rows: 35vh auto;
    justify-content: center;
    ul {
        display: grid;
        align-content: space-evenly;
        a {
            color: $white;
        }
        .active {
            text-decoration: underline;
        }
    }
}
