@import '../../scss/colors.scss';

.header-container {
  position: fixed;
  background: $primary;
  width: 100vw;
  height: 7vh;
}

.header-grid-container {
  display: grid;
  grid-template-rows: 7vh;
  grid-template-columns: 7vw auto;
  align-items: center;
  .brand {
    width: 4rem;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
  }
}
