.side-bar-detail-container {
    position: fixed;
    top: 0;
    left: 5rem;
    color: $black;
    width: 15rem;
    height: 100vh;
    background: $grey;
}

.side-bar-detail-grid-container{
    display: grid;
    grid-template-rows: 10vh 90vh;
    padding-left: 2rem;
    h2 {
        grid-row: 1;
        align-self: center;
    }
    ul {
        grid-row: 2;
        li {
            margin-bottom: 2rem;
            a {
                color: $black;
                text-decoration: none;
            }
        }
    }
}