// componets
@import './components/header/header.scss';
@import './components/poem/poem.scss';
@import './components/side-bar/side-bar.scss';
@import './components/side-bar-detail//side-bar-detail.scss';

// base styling
body {
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
}

h1,
h2 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.layout-container {
  display: grid;
  grid-template-rows: 7vh auto;
  grid-template-columns: 10vw auto;
  position: relative;
  nav {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  aside {
    grid-row: 2;
    grid-column: 1;
  }
  main {
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
    padding: 2rem;
  }
}
