// componets
@import './components/poem/poem.scss';
@import './components/side-bar/side-bar.scss';
@import './components/side-bar-detail//side-bar-detail.scss';
@import './components/errors/notFound.scss';

// base styling
body {
  font-family: 'Caveat', cursive;
  font-size: 1.25rem;
}

h1,
h2 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.layout-container {
  display: grid;
  grid-template-columns: 20rem auto;
  grid-template-rows: 100vh;
  position: relative;
  main {
    grid-column: 2;
    justify-content: center;
  }
}
